
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address. 이 주소는 아무것도 없으니 다른 주소를 쳐보세요.</p>
        </LayoutView>
    </NotFound>
</Router>
