@page "/Data/AddPeople"
@using DataAccessLibrary
@using DataAccessLibrary.Models
@inject IPeopleData _db

<h1>Add People Page</h1>
<h4>Current People</h4>

@if (people is null)
{
    <p><em>Loadddding~~~</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.LastName</td>
                    <td>@person.EmailAddress</td>
                </tr>
            }
        </tbody>

    </table>
}

@code {
    private List<PersonModel> people;

    protected override async Task OnInitializedAsync()
    {
        people = await _db.GetPeople();
    }

}
