@page "/counter"
@inject SingletonServices singleton
@inject TransientServices transient

<h1>Counter</h1>

<p>Current count: @currentCount</p>
<p>Singleton count: @singleton.Value</p>
<p>Transient count: @transient.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<input type="number" @bind="currentCount"/>

<MoviesList Movies="movies" />


@code {
    private List<Movie> movies;
    protected override void OnInitialized()
    {
        movies = new List<Movie>()
        {
            new Movie() {Title = "Koker", Releasedate = new DateTime(2020, 6, 2)},
            new Movie() {Title = "Avengers", Releasedate = new DateTime(2016, 11, 23)},
        };
    }


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;

        transient.Value = currentCount;
        singleton.Value = currentCount;
    }
} 
