@page "/counter"
@using static UdemyBlazorApp1.Client.Shared.MainLayout;

<h1 style="color: @AppState.Color">Counter</h1>

<div style="display:flex">
    <div style="width: 150px">
        <select @bind="AppState.Color" class="form-control" style="margin-top:15px;">
            <option value="green">Green</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>

        </select>
    </div>
    <div style="width: 150px">
        <select @bind="AppState.Size" class="form-control" style="margin-top:15px;">
            <option value="12px">12px</option>
            <option value="20px">20px</option>
            <option value="30px">30px</option>
            <option value="50px">50px</option>
            <option value="70px">70px</option>
        </select>
    </div>
</div>



<p style="color:@AppState.Color; font-size: @AppState.Size">Current count: @currentCount</p>


<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<input type="number" @bind="currentCount"/>

<MoviesList Movies="movies" />

@code {
    [Inject] IJSRuntime js { get; set;}
    [CascadingParameter] public AppState AppState { get; set; }
    private List<Movie> movies;
    protected override void OnInitialized()
    {
        movies = new List<Movie>()
            {
                new Movie() {Title = "Koker", Releasedate = new DateTime(2020, 6, 2)},
                new Movie() {Title = "Avengers", Releasedate = new DateTime(2016, 11, 23)},
            };
    }


    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;


    }
}