@page "/"
@using static UdemyBlazorApp1.Client.Shared.MainLayout;

@using UdemyBlazorApp1.Client.Helpers


<div>
    <h3 style="color:@AppState.Color">Movie</h3>
    <MoviesList  Movies="movies" />
</div>

<button @onclick="AddNewMovie">Add new movie</button>

@code{
    [CascadingParameter] public AppState AppState { get; set; }
    private List<Movie> movies = new List<Movie>();
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        // movies = repository.GetMovies();
    }

    private void AddNewMovie()
    {
        movies.Add(new Movie() { Title = "Movie Sample", Releasedate = DateTime.Today });
    }
}