@page "/"
@using UdemyBlazorApp1.Client.Helpers


<div>
    <h3>Movie</h3>
    <MoviesList Movies="movies" />
</div>


@code{
    private List<Movie> movies = new List<Movie>();
    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(2000);
        movies = new List<Movie>()
        {
            new Movie(){Title = "Spider-man : Far From Home", Releasedate = new DateTime(2019,7,2)},
            new Movie(){Title = "Moana", Releasedate = new DateTime(2016, 11, 23)},
            new Movie(){Title = "Inception", Releasedate = new DateTime(2010, 7, 16)}
        };
    }

}